.carsList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    margin: 30px auto;
}
.carsList .error{
    display: block;
    max-width: 100%;
    margin: 60px auto 30px auto;
}
.carsList .error h2{
    font-size: 100px;
    font-weight: 700;
    text-align: center;
    color: var(--color_primary);
}
.carsList .error p{
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: var(--color_primary);
    margin-top: 15px;
}
.carsList > li{
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.04), 0 0 0 1px rgba(0, 0, 0, 0.04);
    overflow: hidden;
    background-color: #FFF;
    width: 250px;
}
.carsList li > .img_car{
    position: relative;
    height: 150px;
    width: 250px;
    overflow: hidden;
}
.carsList li > .img_car img{
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
.carsList li > .img_car .ok{
    background-color: var(--success);
}
.carsList li > .img_car .add{
    background-color: var(--red);
}
.carsList li > .img_car .add,
.carsList li > .img_car .ok{
    display: none;
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 20px;
    width: 35px;
    height: 35px;
    color: white;
    border-radius: 4px;
    text-align: center;
    line-height: 34px;
    z-index: 2;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.carsList li:hover > .img_car .add,
.carsList li > .img_car .ok{
    display: block;
}
.carsList li > .img_car .id_toy{ 
    position: absolute;
    bottom: 5px;
    right: 5px;
    height: 20px;
    background-color:rgba(0, 0, 0, 0.411);
    color: rgb(255, 255, 255);
    border-radius: 4px;
    text-align: center;
    line-height: 20px;
    font-weight: bolder;
    font-size: 11px;
    padding: 0 5px;
    z-index: 3;
}
.carsList li .descrip_car{
    padding: 10px 15px;
}
.carsList li .descrip_car h4{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.carsList li .descrip_car p{
    font-size: 14px;
    padding-top: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.carsList .btn_footer{
    margin: 20px auto;
    width: 100%;
}
.carsList .btn_footer .cl_fl{
    display: block;
    margin: 0 auto;
}
@media (max-width: 645px){
    .carsList li{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        width: 90%;
        min-height: 100px;
    }
    .carsList li .descrip_car{
        max-width: 65%;
    }
}
@media (max-width: 450px){
    .carsList li{
        margin: 10px 0;
        width: 95%;
    }
    .carsList li .img_car{
        height: 120px;
    }
}